img.libroInvertido {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}





p.test1 {
    white-space: nowrap;
    border: 1px solid #000000;
    overflow: hidden;
    line-height: 2;
    text-overflow: clip;
    border-radius: 25px;
}

p.ellipsis1 {
    white-space: nowrap;
    border: 1px solid #000000;
    overflow: hidden;
    line-height: 2;
    text-overflow: ellipsis;
    border-radius: 25px;
}

p.ellipsis2 {
    border: 1px solid #cccccc;
    border-radius: 25px;
    padding: 9px;
    height: 45px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 1.65;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}